#container{
    border: 1px solid black;
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: auto auto ;
}
#container{
    font-size: 30px;
    text-align: center;
    line-height: 100px;
}
#d1{
    background-color: brown;
}
#d2{
    background-color: chartreuse;
}
#d3{
    background-color: coral;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}